* {
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
}

.routeButtonGroup {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.radioButton {
    border-radius: 10px;
    color: white;
    padding: 3px 5px;
    position: relative;
    background-color: #444;
    width: 10rem;
}
.radioButton::after {
    border-color: #444;
}

input:checked + .radioButton::after {
    content: "";
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;

}

[data-route="HVL"] {
    background-color: green;}
[data-route="HVL"]::after {
    border-color: green;
}

[data-route="JVL"] {
    background-color: #2A8E9D;
}
[data-route="JVL"]::after {
    border-color: #2A8E9D;
}

[data-route="MEL"] {
    background-color: #F0544A;
}
[data-route="MEL"]::after {
    border-color: #F0544A;
}

[data-route="WRL"] {
    background-color: #494A9F;
}
[data-route="WRL"]::after{
    border-color: #494A9F;
}

[data-route="KPL"] {
    background-color: #F6AC37;
}
[data-route="KPL"]::after {
    border-color: #F6AC37;
}

input[type="radio"] {
    display: none;
}

.selectInput {
    border: none;
    border-bottom: 2px solid #F6AC37;
    color: #F6AC37;
    font-size: 15pt;
    text-transform: uppercase;
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url("assets/dropdownarrow.svg");
    background-position: right .5rem top 50%;
    background-repeat: no-repeat;
    background-size: 1rem;
}


.directionButtons {
    align-self: center;
    padding: 1rem;
}

#queryForm {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#queryForm > :nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 20rem;
}

.finishButtons {
    display: flex;
    width: 8rem;
    justify-content: space-between;
    align-self: center;
}

h2 {
    align-self: flex-start;
}